<!-- Popper -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!-- MD Bootstrap -->
<script type="text/javascript" src="./static/js/mdb.min.js"></script>
<!-- SideNav Initialization -->
<script type="text/javascript" src="./static/js/sidenav.js"></script>
<!-- Rest API jQuery Interface -->
<script type="text/javascript" src="./static/js/worker.js"></script>
