<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web Interface to manage web applications.">
    <meta name="author" content="Zachary P. Day">
    <link rel="icon" href="./static/img/favicon.ico">
    <title>Project Manager</title>
    {% include "css.html" %}
  </head>
  <body class="fixed-sn black-skin">
    <header>
      {% include "sidebar.html" %}
      {% include "navbar.html" %}
    </header>
    <div class="container-fluid">
      <main>
        <div id="body" class="container-fluid"></div>
      </main>

    </div>
    {% include "js.html" %}
  </body>
</html>
